body {
  min-width: 100vw;
  min-height: 100vh; 
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(189,80,228,1) 0%, rgba(0,212,255,1) 100%);
}

.root-div {
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.header {
  font-size: 30px;
  color: white;
}
